#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: dimgray;
    border: 2px solid black;
    border-radius: 10px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#menu a:hover {
    color: brown;
}

#titulo {
    text-align: center;
    color: goldenrod;
}

#conjunto {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

.bloco {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco img {
    width: 300%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.descricao {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.conjunto2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center; 
}

.conjunto2 img {
  border: 4px solid black;
  width: 100%;
  max-width: 200px;
  display: block;
}

.conjunto2 p {
  margin-top: 5px;       
  font-size: 14px;
  text-align: center;
}

.conjunto2 img:nth-last-of-type(2) {
  grid-column: 2 / 3;
}

.conjunto2 p:nth-last-of-type(1) {
  grid-column: 2 / 3;
}

.conjunto3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  justify-items: center; 
}

.conjunto3 img {
  border: 4px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 200px;
  display: block;
}

.conjunto3 p {
  margin-top: 5px;       
  font-size: 14px;
  text-align: center;
}

.conjunto3 img:nth-last-of-type(2) {
  grid-column: 2 / 3;
}

.conjunto3 p:nth-last-of-type(1) {
  grid-column: 2 / 3;
}

.ok {
    color: aliceblue;
}
