#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: dimgray;
    border: 2px solid black;
    border-radius: 10px;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

#menu a:hover {
    color: brown;
}

#titulo {
    text-align: center;
    color: goldenrod;
}

#conjunto {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.bloco {
    width: 180px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.descricao {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
}
