#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    background-color:dimgray;
    border: 3px solid black;
    border-radius: 10px;
}

#topo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    background-color:dimgrey;
}

#topo3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
    background-color: dimgrey;
}

#menu {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 20px;;
}

#menu a:hover {
    color:brown;
}

#titulo {
    text-align: center;
    color: goldenrod;
}